# Default code-owner
* @ethereum-optimism/security-reviewers

# Code and script ownership

## Go
*.go @ethereum-optimism/go-reviewers
/go.work @ethereum-optimism/go-reviewers
/.golangci.yml @ethereum-optimism/go-reviewers
/validation @ethereum-optimism/go-reviewers
/superchain @ethereum-optimism/go-reviewers

## JS&TS
*.js @roninjin10
package.json @roninjin10

## Solidity
*.sol @ethereum-optimism/security-reviewers

# Superchain configuration ownership
/superchain/configs @sbvegan @ZakAyesh @OPMattie
/superchain/extra @sbvegan @ZakAyesh @OPMattie
/superchain/implementations @ethereum-optimism/security-reviewers


