# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# vim
*.sw*

# jetbrains
.idea/

# Misc
.DS_Store
.env
.env*
!.env.example
!.env.test
*.log


# Go workspaces checksum file
go.work.sum

# editor specific config
.vscode
