version: 2.1

# This allows us to use CircleCI's dynamic configuration feature
setup: true

orbs:
  continuation: circleci/continuation@0.3.1

jobs:
  setup-genesis-allocs-validation:
    docker:
      - image: alpine:latest
    steps:
      - checkout
      - run:
          name: Install Git, yq, and jq
          command: |
            apk add --no-cache git jq curl
            curl -sLo /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
            chmod +x /usr/local/bin/yq
      - run:
          name: Verify Git
          command: git --version
      - run:
          name: Verify yq
          command: yq --version
      - run:
          name: Verify jq
          command: jq --version
      - run:
          name: Generate list of chainids and insert into  continue_config.yml file
          command: |
            sh validation/genesis/validation-inputs/generate-test-config.sh
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: "{}"

workflows:
  setup:
    jobs:
      - setup-genesis-allocs-validation
